* body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
}
.header {
  background-color: darkslateblue;
  position:relative;
  padding: 1vh;
  
}
.bg-img {
  background-image: url("dark.jpg");
  width: 100%;
  min-height: 450px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-position: 100%;
  position: relative;
  
}
.container {
  position: absolute;
  margin: 0px;
  width: 100%;
}
.topnav {
  overflow: hidden;
}
.topnav a {
  float: left;
  text-align: center;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.topnav a:hover {
  background-color: lightgreen;
  color: black;
}
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.mainheading {
  color:white;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 800px;
  margin-top: 10px;
  font-weight: bold;
}
.heading {
  color: white;
  margin-left: 350px;
  margin-top: 100px;
}
.para {
  color: white;
  margin-left: 350px;
}
.btn {
  border: none;
  color: black;
  padding: 10px 15px;
  font-size: 10px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}
.learn {
  background-color: lightslategray;
  margin-left: 350px ;

}
.learn:hover {
  background: goldenrod;
}
.learnmore {
  background: lightseagreen;
}
.learnmore:hover {
  background: darkgoldenrod;
}

.top-headings {
  color:rgb(0, 128, 100);
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin-top: 50px;
  font-size: 35px;
}
.paraw{
  font-size: 13px;
  color: grey;
  text-align: center;
}
.row {
  display: flex;
}
.column1 {
  flex: 50%;
  background-image: url("book.jpg");
  width: 100%;
  min-height: 400px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  
}
.column2 {
  flex: 50%;
  background-image: url("friends.jpg");
  width: 100%;
  min-height: 400px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
.book {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  margin-left: 0px;
  margin-top: 320px;
  font-weight: bold;
  text-align: center;
}
.friend {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
}
.column3 {
  float: left;
  width: 23.35%;
  background-image: url("tree.jpg");
  padding: 10px;
  height: 280px;
  background-color: black;
  
  
}
.column4 {
  float: left;
  width: 23.35%;
  background-image: url("save-water.jpg");
  padding: 10px;
  height: 280px;
  background-color:black;
}
.column5 {
  float: left;
  width:23.35%;
  background-image: url("clean-india.jpg");
  padding: 10px;
  height: 280px;
  background-color:black;
}
.column6 {
  float: left;
  width: 23.35%;
  background-image: url("save-girlchild.jpg");
  padding: 10px;
  height: 280px;
  background-color:black;
}
.row1:after {
  content: "";
  display: table;
  clear: both;
  
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
#column3 {
  float: left;
  width: 23.35%;
  background-image: url("tree.jpg");
  padding: 10px;
  height: 280px;
  background-color: black;
  
  
}
#column4 {
  float: left;
  width: 23.35%;
  background-image: url("save-water.jpg");
  padding: 10px;
  height: 280px;
  background-color:black;
}
#column5 {
  float: left;
  width:23.35%;
  background-image: url("clean-india.jpg");
  padding: 10px;
  height: 280px;
  background-color:black;
}
#column6 {
  float: left;
  width: 23.35%;
  background-image: url("save-girlchild.jpg");
  padding: 10px;
  height: 280px;
  background-color:black;
}
#row1:after {
  content: "";
  display: table;
  clear: both;
  
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
#column7 {
  float: left;
  width: 23.35%;
  padding: 10px;
  height: 200px;
  background-color: #ccc;
  
  
}
#column8 {
  float: left;
  width: 23.35%;
  padding: 10px;
  height: 200px;
  background-color:#aaa;
}
#column9 {
  float: left;
  width:23.35%;
  padding: 10px;
  height: 200px;
  background-color: #ddd;
}
#column10 {
  float: left;
  width: 23.35%;
  padding: 10px;
  height: 200px;
  background-color: #bbb;
}
#row2:after {
  content: "";
  display: table;
  clear: both;
  
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.projheading {
  color: midnightblue;
  margin-left: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.description {
  color: darkviolet;
  margin-left: 20px;
  font-size: 12px;
  font-weight: normal;
}
.btn1 {
  border: none;
  color:white;
  padding: 12px 12px;
  font-size: 10px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.casestudy {
  background-color: royalblue;
  margin-left:20px ;

}
.casestudy:hover {
  background: goldenrod;
  color: black;
}

#splan {
  color: violet;
  margin-left: 300px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 15px;
}
.price-table {
  width: 100%;
  margin: auto;
  padding: 30px 10px;
}

.price-table h1 {
  text-align: center;
}

.table {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  margin: auto;
}

.plan {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  align-items: center;
  /* justify-content: center; */
  margin: 20px 20px;
  /* padding: 200px; */
}

.plan h4 {
  color: grey;
  padding: 15px;
}

.plan p {
  padding: 7px;
}

.plan button {
  padding: 10px;
  margin: 10px;
  background-color: rgb(251, 115, 97);
  color: black;
  border: 1px solid white;
  border-radius: 5px;
}

.plan button:hover {
  background-color: rgb(70 20 78);
  color: white;
}

#standard {
  border-right: 2px solid lightgrey;
  padding-right: 15px;
}

#premium {
  border-left: 2px solid lightgrey;
  padding-left: 15px;
}
.pricing {
  color: #aaa;
  font-size: 12px;
}
.plan-name {
  color: mediumaquamarine;
  font-size: 20px;
  text-transform: uppercase;
}
.rate {
  font-size:15px;
}
.bg-img1 {
  background-image: url("bridge.jpg");
  width: 100%;
  min-height: 250px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  margin-top: 0px;
}
input[type=text] {
  width: 25%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  margin-left: 470px;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}
.sign {
  border: none;
  color: black;
  padding: 12.5px;
  font-size: 10px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
}
.in {
  background-color: goldenrod;
  margin-left: 565px;
  margin-top: 0px;
}
.in:hover {
  background-color: lightseagreen;
}

.up {
  background-color: purple;
  margin-left: 5px;
  margin-top: 0px;
}
.up:hover {
  background-color: rgb(47, 78, 255);

}
.column11 {
  flex: 50%;
  background-image: url("map.jpg");
  width: 100%;
  min-height: 410px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  
}
.column12 {
  flex: 50%;
  background-color: darkgoldenrod;
  width: 100%;
  min-height: 410px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
.query {
  color: black;
  margin-top: 0px;
  margin-left: 100px;
  font-size: 20px;
} 
.cont {
  color: black;
  margin-left: 100px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 7px;
} 
input[type=textc] {
  width: 30%;
  padding: 3px;
  margin: 5px 0 0 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  margin-left: 100px;
}

input[type=textc]:focus {
  background-color: #ddd;
  outline: none;
}
input[type=textm] {
  width: 30%;
  padding: 40px 10px 0 0;
  margin: 5px 0 0 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  margin-left: 100px;
}

input[type=textm]:focus {
  background-color: #ddd;
  outline: none;
}
.send {
  border: none;
  width: 31.6%;
  color: black;
  padding: 6px;
  font-size: 10px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-left: 100px;
  margin-top: 12px;
  
}
.us{
  background-color: lightseagreen;
  margin-right:150px;
  
}
.us:hover {
  background-color: purple;
}
.addr {
  background-color: black;
  margin-left: 450px;
  margin-top: 50px;
  color: gray;

}